/* Editor.md Dark theme */

#{$prefix}theme-dark {
    border-color: #1a1a17;

    .markdown-body a[href^="http"] {
        color: #0064c7;
    }

    #{$prefix}toolbar {
        background: #1A1A17;
        border-color: #1a1a17;
    }

    #{$prefix}menu > li > a {
        color: #777;
        border-color: #1a1a17;

        &:hover, &.active {
            border-color: #333;
            background: #333;
        }
    }

    #{$prefix}menu > li.divider {
        border-right: 1px solid #111;
    }

    #{$prefix}dialog {
        background: $black-bg;
        color: $black-color;
    }

    #{$prefix}dialog-info a[href^="http"] {
        color: #0064c7;
    }

    #{$prefix}dialog-info .hover-link[href^="http"]:hover {
        color: #0064c7;
    }

    #{$prefix}dialog-close {
        background: $black-bg;
        color: $black-color;
    }

    #{$prefix}form,
    #{$prefix}form .fa-btns a,
    #{$prefix}dialog-container h1 small,
    #{$prefix}html-entity-btn,
    #{$prefix}dialog-info .hover-link[href^="http"] {
        color: $black-color;
    }

    #{$prefix}dialog-header, #{$prefix}tab-head {
        border-bottom: 1px solid #959595;
    }

    #{$prefix}grid-table-row a, #{$prefix}tab-head li a {
        border: 1px solid #959595;
    }

    #{$prefix}dialog-header:hover {
        background: #707070;
    }

    #{$prefix}tab-head li.active a {
        color: $black-color;
        background: #747474;
    }

    #{$prefix}tab-head li a {
        color: #f6f6f6;
        background: #a6a6a6;
    }

    .markdown-body blockquote { 
        color: $black-color;
    }
    
    .CodeMirror {
        border-right: 1px solid rgba(0,0,0,0.1);
    }
}